In [ ]:
#32 합집합과 교집합 계산

numbers1 = {1, 2, 3, 4, 5}
numbers2 = {5, 6, 7, 8, 9}

a = numbers1|numbers2
b = set.intersection(numbers1, numbers2)

print(a, b)

{1, 2, 3, 4, 5, 6, 7, 8, 9} {5}

In [ ]:
#33 차집합과 대칭차집합 계산

numbers1 = {1, 2, 3, 4, 5}
numbers2 = {5, 6, 7, 8, 9}

a = numbers1 - numbers2
b = numbers1 ^ numbers2

print(a, b)

{1, 2, 3, 4} {1, 2, 3, 4, 6, 7, 8, 9}

In [ ]:
#34 update method를 이용하여 숫자 100할당 후 출력

a = {5, 6, 7, 8, 9}
a |= {100}
print(a)

{100, 5, 6, 7, 8, 9}

In [ ]:
#35
a = {100, 200, 300, 400, 500}

a.intersection_update( {400, 500, 600, 700, 800} )
print(a)

a.difference_update( {400, 500, 600, 700, 800} )
print(a)

a.symmetric_difference_update( {400, 500, 600, 700, 800} )
print(a)

{400, 500}
set()
{800, 400, 500, 600, 700}

In [ ]:
#36 a가 상위집합이면 "상위" 출력, 부분집합이면 "부분" 출력, 상위집이이면서 부분집합일 경우 "동시" 출력
a = {100, 200, 300, 400, 500}

result1 = (a >= {100, 200, 300, 400, 500})
result2 = (a <= {100, 200, 300, 400, 500})

if result1 and result2:
  print("동시")

elif result2:
  print("부분")

elif result1:
  print("상위")

동시

In [ ]:
#37 셋에 숫자 1000을 add method로 추가하고 마지막값 삭제 후 출력

a = {1, 2, 3, 4, 5}

a.add(1000)
a.discard(5)
print(a)

{1, 2, 3, 4, 1000}

In [ ]:
#38 1부터 100까지 숫자 중 3과 5의 공배수를 set comprehension을 이용해 set형태로 출력

multiplies = {x for x in range(1, 101) if x % 3 == 0 and x % 5 == 0}
print(multiplies)

{75, 45, 15, 90, 60, 30}